* {
  margin: 0;
  padding: 0;
}

ul {
  height: 400px;
  background-color: yellow;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

ul li{
  list-style-type: none;
  width: 100px;
  height: 100px;
  background-color: purple;
  margin: 0 0 0 20px;
}
