./week-01/day-04/node_modules/*
./node_modules/*
tsconfig.json
node_modules/

package-lock\.json

week-02/day-4/test\.html

week-02/day-5/\.vscode/

week-04/day-4/MultidimArrayPractice/

week-04/day-4/mytape\.ts

week-04/day-4/package\.json

week-04/day-4/test\.ts

week-04/day-5/fs_test\.ts

week-04/day-5/lottery\.csv

week-04/day-5/test\.txt

week-02/day-5/input\.ts

week-02/day-5/test\.ts

week-03/day-02/test\.html

week-03/day-02/test\.js

week-03/day-02/test\.ts

week-03/day-03/\.vscode/

week-06/day-1/Index_of/package\.json
