* {
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 95%;
  height: 95%;
  margin:2%;
}

nav ul{
  height: 100px;
  background-color: purple;
  display: flex;
  align-items: center;
}

nav ul li{
  list-style-type: none;
  width: 100px;
  height: 40px;
  background-color: cyan;
  margin: 10px;
}

.content {
  height: 600px;
  display: flex;
}

.content .left{
  width: 65%;
  background-color: yellow;
}

.content .right{
  width: 35%;
  background-color:green;
}